body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%; 
    font-weight: normal;
    
  }
  *{
    box-sizing: border-box;
  }
  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(230, 230, 230);
  }
  
  .header {
    height: 100vh;
    background-color: #eee;
    background-image: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .header-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto
  }
  .content {
    font-size: 0;
    width: 790px;
    margin: 100px auto 50px;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
  }
  .card {
    font-family: 'Source Sans Pro', sans-serif;
    width: 350px;
    margin-right: 90px;
    margin-bottom: 60px;
    padding: 45px 45px 70px;
    display: inline-block;
    background-color:#eee;
    box-shadow: 4px 4px 5px rgba(59, 94, 184, 0.803);
  
  }
  .no-right-margin {
    margin-right: 0px;
    }
  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
   
  }
  .card-text {
    font-size: 16px;
    
  }
  .card-image {
    width: 100%;
    margin-bottom: 25px;
  }
  .footer{
    height: 120px;
    background-color: rgb(0, 0, 0);
    display: flex;
  }
  .footer-author{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: white;
    margin: auto;
  }
